<div class="flex flex-col">
  <h1 class="font-bold text-4xl p-5">Admin Dashboard</h1>
  <div class="flex flex-row">
    <div class="w-1/4 p-10 bg-white">
      <table class=" table-auto w-fit shrink-0">
        <thead>
        <tr>
          <th class="px-4 py-2 text-emerald-600">Product</th>
          <th class="px-4 py-2 text-emerald-600" >Price</th>
          <th class="px-4 py-2 text-emerald-600" >Appears in Orders</th>
          <th class="px-4 py-2 text-emerald-600" >Units Sold</th>
          <th class="px-4 py-2 text-emerald-600" >Total $$$</th>
        </tr>
        </thead>
        <tbody>
        <% @products.each do |product| %>
        <tr class="hover:bg-sky-100">
          <td class="hover:bg-sky-200 border border-emerald-500 px-4 py-2 text-emerald-600 font-medium"><%= product.name %></td>
          <td class="hover:bg-sky-200 border border-emerald-500 px-4 py-2 text-emerald-600 font-medium"><%=product.price%></td>
          <td class="hover:bg-sky-200 border border-emerald-500 px-4 py-2 text-emerald-600 font-medium"><%=product.orders.length%></td>
          <td class="hover:bg-sky-200 border border-emerald-500 px-4 py-2 text-emerald-600 font-medium"><%=product.cummulative_units_sold%></td>
          <td class="hover:bg-sky-200 border border-emerald-500 px-4 py-2 text-emerald-600 font-medium"><%=product.cummulative_amount_made%></td>
        </tr>
        <%end%>
        </tbody>
      </table>
    </div>

    <div class="w-fit h-fit min-w-10 shrink-0 overflow-hidden bg-white p-10">
      <table class=" table-auto w-fit shrink-0">
        <tr>
          <th class="px-4 py-2 text-emerald-600" >Usess</th>
          <th class="px-4 py-2 text-emerald-600" >Order Count</th>
        </tr>
        <% @customers.each do |user| %>
        <tr class="hover:bg-sky-100">
          <td class="hover:bg-sky-200 border border-emerald-500 px-4 py-2 text-emerald-600 font-medium" >
            <h4><strong>User:</strong>
              <%= user.email %>
            </h4>
          </td>
          <td class="hover:bg-sky-200 border border-emerald-500 px-4 py-2 text-emerald-600 font-medium" >
            <h4><strong>Orders:</strong>
              <%= user.orders.count%>
            </h4>
          </td>
        </tr>
        <%end%>
      </table>
    </div>

    <div class="w-1/3 h-fit min-w-10 shrink-0 rounded-t-xl overflow-hidden bg-gradient-to-r from-emerald-50 to-teal-100 p-10">
      <h3>Order Timeline</h3>
      <%= area_chart Order.group_by_day(:created_at).count, xtitle: "Time", ytitle: "Orders"%>
    </div>
  </div>



   <div class="w-fit h-fit min-w-10 overflow-hidden bg-white p-10">
      <table class=" table-auto w-fit shrink-0">
        <tr>
          <th class="px-4 py-2 text-emerald-600" >Messages</th>
        </tr>
        <% @contacts.each do |contact| %>
        <tr class="hover:bg-sky-100">
          <td class="hover:bg-sky-200 border border-emerald-500 px-4 py-2 text-emerald-600 font-medium" >
            <h4><strong>Contact from <%= contact.name %> Sent: <%=contact.created_at.strftime("%Y-%m-%d")%></strong>
              <p>Associated Account: <%= contact.user_id? ? contact.email : "No account"%></p>
              <p>Issue Type: <%=contact.issue_type%> </p>
              <p><%= contact.product_id? ? "Product - #{contact.product.name}" : "" %><p>
              <p>Message: <br>
              <%= contact.message %>
              </p>
            </h4>
          </td>
        </tr>
        <%end%>
      </table>
    </div>
</div>
