  <div class="overflow-y-scroll px-6 py-4 flex flex-col">
      <% order.order_items.each do |item| %>
      <div class="flex-row">
        <ol>
          <li>Item: <%= item.product.name %></li>
          <li>Quantity:<%= item.quantity %></li>
          <li><%image = item.product.img%><%= image_tag (image), class: "w-16" %></li>
        </ol>
      </div>
      <%end%>
      <p>Order Total: <%=order.total%></p>
      <p>Status: <%=order.status%></p>
    </div>
  </div>
