<h1>Your Profile!</h1>
<div class="m-6">
  <br>
<%if !current_user.name%>
<strong>Please Add Your Name</strong>
<%else%>
<strong>Name: </strong><%=current_user.name%>
<%end%>
<br>
<strong>Email: </strong><%=current_user.email%>
<br>
<%if !current_user.address%>
<strong>Please Add Your Address</strong>
<%else%>
<strong>Shipping Address: </strong><%=current_user.address%>
<%end%>
<br>

<%= link_to "Edit Profile", edit_user_path(current_user)%>
<br>
</div>
<div class="flex flex-row">
  <div>

  <% current_user.orders.each do |order| %>
    <% if order.status != "not_ordered" %>

          <%@order =  order%>
          <%= render "users/order", locals: {order: @order} %>

    <%end%>
  <%end%>
    </div>
</div>
