<h1>User Profile!</h1>
<br>
<strong>Name: </strong><%=current_user.name%>
<br>
<strong>Email: </strong><%=current_user.email%>
<br>
<strong>Address: </strong><%=current_user.address%>
<br>
<%= link_to "Edit Profile", edit_user_path(current_user)%>
<p>
  <% current_user.orders.each do |order| %>
    <% if order.status != "not_ordered" %>
      <div class="flex flex-col">
          <%@order =  order%>
          <%= render "users/order", locals: {order: @order} %>
    </div>
    <%end%>
  <%end%>
</p>
