<h1>Your Profile!</h1>
<div class="m-6">
  <br>
<%if !current_user.first_name%>
<strong>Please Add Your Name</strong>
<%else%>
<strong>Name: </strong><%=current_user.first_name%> <%=current_user.last_name%>
<%end%>
<br>
<strong>Email: </strong><%=current_user.email%>
<br>
<%if !current_user.address%>
<strong>Please Add Your Address</strong>
<%else%>
<strong>Shipping Address: </strong><%=current_user.shipping_address%>
<%end%>
<br>

<%= link_to "Edit Profile", edit_user_path(current_user)%>
<br>
</div>
<div class="flex flex-wrap">
  <% current_user.orders.each do |order| %>
    <% if order.status != "not_ordered" %>
      <div class="max-w-sm  h-64 rounded m-5 overflow-y-scroll shadow-lg">
        <div class="font-bold text-xl mb-2" sticky>Ordered <%= order.created_at.strftime("%Y-%m-%d") %></div>
            <%= render "users/order", order: order %>
      <%end%>
  <%end%>
  </div>
</div>
