<h1>User Profile!</h1>
<br>
<strong>Name: </strong><%=current_user.name%>
<br>
<strong>Email: </strong><%=current_user.email%>
<br>
<strong>Address: </strong><%=current_user.address%>

<p>
  <% current_user.orders.each do |order| %>
    <% if order.status != 0 %>
      <div class="flex flex-col">
          <h3>Order #<%= order.id %></h3>
          <% order.order_items.each do |item| %>
            <ol>
              <li>Item: <%= item.product.name %></li>
              <li>Quantity:<%= item.quantity %></li>
            </ol>
          <%end%>
          <p>Order Total: <%=order.total%></p>
          <p>Status: <%=order.status%></p>
          <br>
      </div>
    <%end%>
  <%end%>
</p>
<br>
<%= link_to "Edit Profile", edit_user_path(current_user)%>
