<%= @current_cart.line_items.each_with_index do |item, index| %>
  <div id=<%=index%>>
    <h2><%=item.product.name%></h2>
    <ul>
      <li>
        <div class="flex">
        <p class="flex flex-row">
          <div class="p-4">
            <%= button_to "-", line_item_reduce_path(:id => item), method: :post %>

          </div>
          <div class="p-4">
        <%= item.quantity %>
          </div>
          <div class="p-4">
        <%= button_to "+", line_item_add_path(:id => item), method: :post %>
        </div>
        </p>
        </div>
      </li>
      <li>
        Price: <%=item.total_price%>
      </li>
    </ul>
  </div>
<%end%>
