<h2>Your Order</h2>
<% @order.order_items.each do |item| %>
<%= item.product.name %>
<%end%>
<h2>Your Shipping Info</h2>
<%= @order.name%>
<%= @order.email %>
<%= @order.shipping_address %>
<%= @order.status%>
<% if !!@order.payment_method%>
<p>Payment Confirmed</p>
<%end%>
