<div id="<%= dom_id @order %>">
  <p class="my-5">
    <% @order.order_items.each do |item| %>
    Item: <%= item.product.name %>
    Quantity: <%= item.quantity %>
    Price: <%= item.total_price %>
    <%end%>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Total Price:</strong>
    <%= @current_cart.sub_total %>
  </p>

</div>
