<h2>Cart show</h2>
<ul>
  <% if @cart.line_items.empty? %>
  <h1>Your Cart is Empty</h1>
  <% else %>
  <% @cart.line_items.each do |line_item| %>
    <li>Item: <%= line_item.product.name %>/ Price: <%= number_to_currency(line_item.product.price) %>/ Quantity: <%= line_item.quantity %>/ Total Price: <%= number_to_currency(line_item.total_price) %>
    <ul>
      <li>
        <%= button_to "Add one", line_item_add_path(:id => line_item), method: :post %>
        <%= button_to "Reduce one", line_item_reduce_path(:id => line_item), method: :post %>
      </li>
      <li>
        <%= button_to "Remove item", line_item_path(line_item), method: :delete %>
      </li>
    </ul>
    #
  <% end %>
</ul>
<%end%>
<h3>Sub total: <%= number_to_currency(@cart.sub_total) %></h3>
# See Order section below for explanation of new_order_path
<%= button_to "Proceed to checkout", new_order_path %><br>
#
<%= button_to "Empty cart", cart_path(@current_cart),method: :delete, data: {confirm: "Are you sure?"}%>
