<div class="border-8 border-green-100 h-fit p-3 bg-zinc-50" id="<%= dom_id order_item %>">
  <p class="my-5">
    <strong class="block font-medium mb-1"><%= order_item.product.name %></strong>
  </p>
  <div class="w-24 ">
  <%image = order_item.product.img%><%= image_tag (image) %>
  </div>
  <p>
    <strong class="block font-medium mb-1">Quantity:</strong>
  </p>
  <div class="flex flex-row">
    <%#= button_to "-", line_item_reduce_path(:id => @current_cart.line_items.find_by(product_id: order_item.product.id).id), method: :post %>

    <%= order_item.quantity %>

    <%#= button_to "+", line_item_add_path(:id => @current_cart.line_items.find_by(product_id: order_item.product.id).id), method: :post %>
  </div>


  <p class="">
    <strong class="block font-medium mb-1">Price:</strong>
    <%= order_item.total_price%>
  </p>
</div>
