<div id="<%= dom_id order_item %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Line item:</strong>
    <%= order_item.product.name %>
    <%= order_item.quantity %>
    <%= order_item.total_price%>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Order:</strong>
    <%= order_item.order_id %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this order item", order_item, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this order item', edit_order_item_path(order_item), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
