<div class="flex px-24 inset-x-0">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>
  <div id="products" class="min-w-full z-0">
    <div class="flex justify-between items-center">
      <h1 class="font-bold text-4xl">Shop Plants!</h1>
    </div>
    <br>
      <div class="search">
      <form action="/products" method="GET" data-turbo="false">
      <select name="filter" onchange="this.form.submit()">
        <option value="">Choose A Filter</option>
        <option value="water" <%= "selected" if session[:filter] == "water" %>> Water Maintenance</option>
        <option value="light"> Light Maintenance</option>
        <option value="temp"> Temperature Maintenance</option>
      </select>
      
      <% if session[:filter] == 'water' %>
        <select name="filter_water_option" onchange="this.form.submit()">
        <option value=""> Water Maintenance</option>
        <option value="low"> Low Water</option>
        <option value="med"> Med Water</option>
        <option value="high"> High Water</option>
        </select>
        <% if session[:filter_option] == 'low'%>
          <% @products = Product.filter_by_water("drought")%>
        <% elsif session[:filter_option] == "med" %>
          <% @products = Product.filter_by_water("dry")%>
        <% elsif session[:filter_option] == "high" %>
          <% @products = Product.filter_by_water("thoroughly")%>
        <%end%>
      <%end%>
      </form>
      <div class="clear">
        <%= link_to "Clear Filter Options", products_path %>
      </div>
    <div class="mt-6 grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
      <% @products.map do |product| %>

        <div class="group relative ">
        <%= link_to product_path(:id => product.id) do %>
          <div class="w-full min-h-80 bg-gray-200 aspect-w-1 aspect-h-1 rounded-md overflow-hidden group-hover:opacity-75 lg:h-80 lg:aspect-none">

            <div class="w-full h-full object-center object-cover lg:w-full lg:h-full"><%image = product.img%><%= image_tag (image) %></div>
          </div>
          <div class="mt-4 flex justify-between">
            <div>
              <h3 class="text-sm text-gray-700">


                  <%=product.name%>

              </h3>
            </div>
            <p class="text-sm font-medium text-gray-900"><%=product.price%></p>
          </div>
          <%end%>
          <div class="add-to-cart z-10">
            <% if current_user %>
            <strong>
              <%=button_to "Add to cart",line_items_path(:product_id => product.id),
                 form: {data: {turbo_confirm: 'Add to Cart?'}}%>
            </strong>
            <%else %>
            <strong>
              please sign in
            </strong>
            <%end%>
          </div>
        </div>
      <%end%>
    </div>

  </div>

</div>
