<li id="<%= "#{dom_id(line_item)}" %>">
  <%= turbo_frame_tag "cart_items" do %>

  <p class="my-5">

    <%= line_item.product.name %>

  </p>
    <p>
    Quanitity: <%= line_item.quantity %>
    <br>
    Total: <%= line_item.total_price %>
  </p>

<%end%>
</li>
