<li id="<%= "#{dom_id(line_item)}_item" %>">
  <%= turbo_frame_tag "line_item" do %>
  <p class="my-5">
    <strong class="block font-medium mb-1">Product:</strong>
    <%= line_item.product.name %>

  </p>
  <%= turbo_frame_tag "#{dom_id(line_item)}_quantity" do %>
    <%= line_item.quantity %>
  <% end %>


<%end%>
</li>
