<div class="flex flex-col text-center m-5">
<% if notice.present? %>
  <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
<% end %>

    <%=link_to products_path do%>
      <h1 class="text-3xl text-slate-700 font-bold">
        Welcome to the Plant Shop!
      </h1>
      <%end%>

<div class="flex justify-center flex-row m-5">
    <section class="animated-grid">
        <div
          class="card"
          style='background-image:url("https://images.unsplash.com/photo-1491147334573-44cbb4602074?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80")'
        ></div>
        <div class="card" style='background-image:url("https://images.unsplash.com/photo-1446071103084-c257b5f70672?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=684&q=80")'></div>
        <div class="card" style='background-image:url("https://images.unsplash.com/photo-1503149779833-1de50ebe5f8a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80")'></div>
        <div class="card" style='background-image:url("https://images.unsplash.com/photo-1491147334573-44cbb4602074?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80")'></div>
        <div class="card" style='background-image:url("https://images.unsplash.com/photo-1446071103084-c257b5f70672?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=684&q=80")'></div>
        <div class="card" style='background-image:url("https://images.unsplash.com/photo-1503149779833-1de50ebe5f8a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80")'></div>
        <div class="card" style='background-image:url("https://images.unsplash.com/photo-1491147334573-44cbb4602074?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80")'></div>
        <div class="card" style='background-image:url("https://images.unsplash.com/photo-1503149779833-1de50ebe5f8a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80")'></div>
        <div class="card" style='background-image:url("https://images.unsplash.com/photo-1491147334573-44cbb4602074?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80>")'></div>
        <div class="card" style='background-image:url("https://images.unsplash.com/photo-1446071103084-c257b5f70672?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=684&q=80")'></div>
        <div class="card"
          style='background-image:url("https://images.unsplash.com/photo-1503149779833-1de50ebe5f8a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80")'>
        </div>
        <div class="card"
          style='background-image:url("https://images.unsplash.com/photo-1446071103084-c257b5f70672?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=684&q=80")'>
        </div>


      <div
        class="card"
      ><div class="card w-96 h-96 flex-col justify-center bg-gradient-to-r from-cyan-300 to-green-300" data-controller="slideshow">
          <% @array.each do |item| %>
            <%=link_to product_path(item.id) do%>
              <div data-slideshow-target="slide" class="object-cover object-center">
                <!--TODO Center image!!!-->
                <div>
                  <%image=item.img%>
                  <%= image_tag (image), :class=>"w-44 mx-24" %>
                </div>
                <div class="text-sm">
                  <%=item.name%>
                </div>
              </div>
              <%end%>
          <%end%>
          <div class="flex flex-row">
          <button data-action="slideshow#previous"> ← </button>
          <button data-action="slideshow#next"> → </button>
          </div>
        </div>
    </section>
</div>
</div>
