<!DOCTYPE html>
<html>
  <head>
    <title>RailsECommerce</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="h-screen overflow-scroll w-screen block bg-gradient-to-br from-sky-100 to-orange-100 ">
    <main class="container w-full block">
      <%= render 'shared/navbar' %>
      <div class="display w-screen top-15 p-20">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
